/*
 * @Author: your name
 * @Date: 2021-07-18 18:46:13
 * @LastEditTime: 2022-01-17 15:12:45
 * @LastEditors: ShawnPhang
 * @Description: In User Settings Edit
 * @FilePath: /cloud-design/src/assets/styles/layout.less
 */
.editable-text {
  outline: none;
  word-break: break-word;
  white-space: pre;
  margin: 0;
}
